SUBSYSTEMS=="usb", ATTRS{idProduct}=="1304", ATTRS{idVendor}=="28de", MODE="0666"

KERNEL=="hidraw*", ATTRS{idProduct}=="1304", ATTRS{idVendor}=="28de", MODE="0666"
